<script setup lang="ts">
    import { ref } from 'vue'
    import SelectImg from '@/features/SelectImg/SelectImg.vue'
    import EnterCode from '@/features/EnterCode/EnterCode.vue'
    import Container from '@/shared/ui/Container/Container.vue'
    import Overlay from '@/shared/ui/Overlay/Overlay.vue'
    import { useImgStore } from '@/shared/stores/imgStore.ts'
    import { useUserDataStore } from '@/shared/stores/userDataStore'
    import { sendEmail } from '@/shared/api/image'
    import './style.scss'

    const imgStore = useImgStore()
    const userDataStore = useUserDataStore()

    const pendingRequest = ref(false)

    async function getInstructions() {
        const data = new FormData()
        data.append('id', imgStore.selectingImage.id.toString())
        data.append('pic', imgStore.selectingImage.pic)
        data.append('code', userDataStore.code)
        data.append('email', userDataStore.email)
        data.append('grid_size', imgStore.gridSize)
        data.append('cutOutBg', imgStore.cutOutBg)

        pendingRequest.value = true

        try {
            const response = await sendEmail(data)

            if (response.data.success) {
                userDataStore.setFile(response.data.file)
                userDataStore.setNumberCodeRepeat(response.data.codeNum)
                
                imgStore.nextStep()
            }
            else {
                userDataStore.setCodeIsError(
                    true,
                    response.data.text
                )
            }
        }
        catch (err: any) {
            console.log(err)

            if (err.response?.data.text) {
                userDataStore.setCodeIsError(
                    true,
                    err.response.data.text
                )
            }
        }
        finally {
            pendingRequest.value = false
        }
    }

    function prevStep() {
        imgStore.prevStep()
    }

    function handleInputEmail(e: Event) {
        const target = (<HTMLInputElement>e.target)
        userDataStore.setEmail(target.value)
    }
</script>

<template>
    <form class="step-selecting" @submit.prevent="getInstructions">
        <Container>
            <div class="step-selecting__img">
                <img :src="imgStore.selectingImage.pic">
            </div>

            <div class="step-selecting__actions">
                
                <div class="wrapper" @click="prevStep">
                    <img class="unhover" src="/assets/imgs/prev.svg" alt="">
                    <img class="hover" src="/assets/imgs/prev_hover.svg" alt="">
                    <p class="text">
                        <span>Редактировать</span>
                        или загрузить новое фото
                    </p>
                </div>
            </div>

            <SelectImg />

            <p class="step-selecting__text">
                Введите уникальный код, который указан во вложении к набору и свой email для получения инструкции по нанесению красок
            </p>

            <EnterCode />

            <div class="step-selecting__email">
                <span class="email__label">E-mail</span>

                <div class="email__input-container">
                    <input type="email" placeholder="введите e-mail" @input="handleInputEmail" value="" required>

                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.4414 10.4719V22.3719C26.4414 23.7802 25.3049 24.9219 23.9029 24.9219H6.97987C5.57791 24.9219 4.44141 23.7802 4.44141 22.3719V10.4719M26.4414 10.4719C26.4414 9.06355 25.3049 7.92188 23.9029 7.92188H6.97987C5.57791 7.92188 4.44141 9.06355 4.44141 10.4719M26.4414 10.4719V10.7469C26.4414 11.6325 25.9841 12.4546 25.2333 12.9187L16.7718 18.1494C15.9559 18.6538 14.9269 18.6538 14.111 18.1494L5.64947 12.9187C4.89872 12.4546 4.44141 11.6325 4.44141 10.7469V10.4719" stroke="#595CFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>

            <button class="step-selecting__get-instructions" type="submit">Получить инструкцию</button>
        </Container>

        <Overlay v-if="pendingRequest" />
    </form>
</template>