.step-selecting {
    margin-top: 95px;

    &__img {
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        max-width: 605px;
        max-height: 605px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img img {
        max-width: 100%;
        max-height: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: GTEestiProDisplay-Regular;
        margin-top: 32px;

        .wrapper {
            display: flex;
            align-items: center;
            padding: 3px;
            border-radius: 64px;
            width: 100%;
            max-width: 360px;
            cursor: pointer;
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

            p.text {
                color: #595CFF;
                font-size: 20px;
                margin-left: 26px;

                span {
                    display: block;
                    font-size: 32px;
                }
            }
        }
        .hover {
            display: none;
        }
    }

    &__actions .wrapper:hover {
        background: #595CFF;
        box-shadow: initial;

        p.text {
            color: #fff;
        }

        .unhover {
            display: none;
        }
        .hover {
            display: block;
        }
    }

    .actions__back {
        width: 105px;
        height: 105px;
        border-radius: 12px;
        background-color: #fff;
        background-image: url("/assets/imgs/c7.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 0px 8px 0px rgba(89, 92, 255, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease;
    }

    .actions__back:hover {
        background-image: url("/assets/imgs/c7-hover.svg");
    }

    &__text {
        margin: 0 auto;
        margin-top: 85px;
        max-width: 940px;
        font-family: 'GTEestiProDisplay-Light';
        font-size: 29px;
        font-style: normal;
        font-weight: 300;
        line-height: 115%;
        color: #2E217E;
        text-align: center;
    }

    &__email {
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 50px;
        max-width: 790px;
        width: 100%;
    }

    .email__label {
        font-family: "GTEestiProDisplay-Regular";
        font-size: 22px;
        line-height: 150%;
        color: #2E217E;
    }

    .email__input-container {
        margin-top: 15px;
        padding-right: 25px;
        border-radius: 8px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }

    .email__input-container input {
        outline: none;
        border: none;
        padding: 18px 25px;
        width: 100%;
        font-family: "GTEestiProDisplay-Light";
        font-size: 26px;
        color: #2E217E;
        background-color: #fff;
    }

    &__get-instructions {
        margin: 70px auto 70px auto;
        border-radius: 12px;
        border: none;
        padding: 35px 25px;
        max-width: 365px;
        width: 100%;
        font-family: "GTEestiProDisplay-Regular";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        color: #FEFEFE;
        text-align: center;
        background: #595CFF;
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .step-upload__examples {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap:0;
    }
    .examples__item {
        width: calc(50% - 8px);
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .examples__item.first_item,
    .examples__item.second_item {
        margin-left: 0;
    }
    .examples__item.second_item,
    .examples__item.fourth_item {
        margin-bottom: 0;
    }
    .first_item {
        order: 0;
    }
    .second_item {
        order: 2;
    }
    .third_item {
        order: 1;
    }
    .fourth_item {
        order: 3;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
    .step-selecting {
        &__text {
            font-size: 20px;
        }

        .actions__back {
            width: 70px;
            height: 70px;
        }

        .email__input-container input {
            font-size: 21px;
        }
    }
}