<script setup lang="ts">
    import { ref } from 'vue'
    import Container from '@/shared/ui/Container/Container.vue'
    import UploadImg from '@/features/UploadImg/UploadImg.vue'
    import { useImgStore } from '@/shared/stores/imgStore'
    import './style.scss'

    const imgStore = useImgStore()

    const uploadIsActive = ref(false)
    let target_active = false

    function changeGridSize(e: Event) {
        const target = (<HTMLInputElement>e.target)
        imgStore.setGridSize(target.value)

        if ( target_active ) {
            uploadIsActive.value = true;
        }
    }
    function setActiveUpload(e: Event) {
        const target_active_element = (<HTMLInputElement>e.target)
        target_active = target_active_element.checked

        if ( parseInt(imgStore.gridSize) > 0 ) {
            uploadIsActive.value = target_active_element.checked;
        }
    }
</script>

<template>
    <div class="step-upload">
        <Container class="step-upload__container">
            <h1 class="step-upload__title">
                Загрузите фотографию, чтобы увидеть, как она будет выглядеть на одежде
            </h1>

            <p class="step-upload__desc">
                Увеличьте крупные объекты и максимально наведите на них зум.
                Избегайте однотонного фона
            </p>

            <div class="step-upload__examples">
                <div class="examples__item first_item"><img src="/assets/imgs/b1.jpg"></div>
                <div class="examples__item second_item"><img src="/assets/imgs/b2_n.jpg"></div>
                <div class="examples__item third_item"><img src="/assets/imgs/b3.jpg"></div>
                <div class="examples__item fourth_item"><img src="/assets/imgs/b4_n.jpg"></div>
            </div>

            <div class="step-upload__checking-container">
                <label for="ok" class="checking-container__checking">
                    <span>Ок, понятно</span>

                    <input id="ok" type="checkbox" name="ok" @change="setActiveUpload">

                    <div class="checking__box">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="33" height="33" rx="5" fill="#7483FF" stroke="#7584FF" stroke-width="2"/>
                            <path d="M9 18.1727L15.9375 25.3453L27.5 11" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </label>
            </div>

            <div class="step-upload__checking-grid">
                <div class="wrapper">
                    <span class="title">Количество точек в вашем наборе</span>
                    <span class="title" style="font-size: 30px;">Смотрите на упаковке</span>
                    <div class="input-group">
                        <input type="radio" id="grid_6" name="drone" value="6" @change="changeGridSize" /><label for="grid_6">3888 точки</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="grid_71" name="drone" value="71" @change="changeGridSize" /><label for="grid_71">4312 точки</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="grid_7" name="drone" value="7" @change="changeGridSize" /><label for="grid_7">5292 точки</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="grid_10" name="drone" value="10" @change="changeGridSize" /><label for="grid_10">10800 точек</label>
                    </div>
                </div>
            </div>

            <UploadImg
                :active="uploadIsActive"
            />
        </Container>
    </div>
</template>