.step-upload {
    margin-top: 85px;

    &__title {
        margin: 0 auto;
        max-width: 1240px;
        font-family: 'GTEestiProDisplay-Bold';
        text-align: center;
        font-size: 66px;
        font-style: normal;
        font-weight: 700;
        line-height: 105%;
        background: linear-gradient(180deg, #7889FF 0%, #656DFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__desc {
        margin: 26px auto 0 auto;
        max-width: 830px;
        font-family: 'GTEestiProDisplay-Light';
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: 115%;
        color: #2E217E;
        text-align: center;
    }

    &__examples {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .examples__item img {
        max-width: 100%;
        border-radius: 30px;
    }

    &__checking-container {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    &__checking-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: GTEestiProDisplay-Regular;
        color: #2E217E;
        margin-top: 50px;

        .wrapper {
            width: 100%;
            max-width: 585px;
        }

        .title {
            display: block;
            font-size: 36px;
            color: #2E217E;
            margin-bottom: 10px;
        }

        .input-group {
            margin-top: 30px;
            margin-left: 3px;
        }

        input[type='radio'] {
            transform: scale(1.7);
            margin-left: 3px;
        }

        label {
            font-size: 24px;
            margin-left: 28px;
        }

    }

    .checking-container__checking {
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        cursor: pointer;
    }

    .checking-container__checking span {
        font-family: 'GTEestiProDisplay-Regular';
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        color: #2E217E;
        text-align: center;
    }

    .checking-container__checking input {
        display: none;
    }

    .checking__box {
        border-radius: 5px;
        border: 1px solid #7483FF;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checking__box svg {
        display: none;
    }

    .checking-container__checking input:checked + .checking__box svg {
        display: block;
    }

    .checking-container__checking input:checked + .checking__box {
        background-color: #7483FF;
    }
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .step-upload {
        &__title {
            font-size: 36px;
        }

        &__desc {
            font-size: 22px;
        }
    }
}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {

}