<script setup lang="ts">
    import { ref } from 'vue'
    import { Swiper, SwiperSlide } from 'swiper/vue'
    import { Navigation } from 'swiper/modules'
    import 'swiper/css'
    import 'swiper/css/navigation'
    import { useImgStore } from '@/shared/stores/imgStore'
    import './style.scss'

    const imgStore = useImgStore()

    const prevBtnRef = ref(null)
    const nextBtnRef = ref(null)

    interface Image {
        id: number
        pic: string
    }

    function selectImg(img: Image) {
        imgStore.setSelectingImg(img)
    }
</script>

<template>
    <div class="select-img">
        <button ref="prevBtnRef" class="select-img__prev" type="button">
            <svg width="26" height="46" viewBox="0 0 26 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.951903 25.3233C0.34241 24.7072 0 23.8714 0 23C0 22.1286 0.34241 21.2928 0.951903 20.6766L20.4519 0.962363C21.7211 -0.320788 23.7789 -0.320788 25.0481 0.962364C26.3173 2.24551 26.3173 4.32591 25.0481 5.60907L7.84619 23L25.0481 40.3909C26.3173 41.6741 26.3173 43.7545 25.0481 45.0376C23.7789 46.3208 21.7211 46.3208 20.4519 45.0376L0.951903 25.3233Z" fill="#4B4B4B"/>
            </svg>
        </button>

        <swiper
            ref="swiperRef"
            slides-per-view="auto"
            :modules="[Navigation]"
            :navigation="{
                prevEl: prevBtnRef,
                nextEl: nextBtnRef
            }"
            :space-between="20"
        >
            <swiper-slide v-for="img in imgStore.images">
                <img class="select-img__img" :key="img.id" :src="img.pic" @click="() => selectImg(img)">
            </swiper-slide>
        </swiper>

        <button ref="nextBtnRef" class="select-img__next" type="button">
            <svg width="26" height="46" viewBox="0 0 26 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.0481 25.3233C25.6576 24.7072 26 23.8714 26 23C26 22.1286 25.6576 21.2928 25.0481 20.6766L5.5481 0.962363C4.27889 -0.320788 2.22111 -0.320788 0.951902 0.962364C-0.317299 2.24551 -0.317301 4.32591 0.951902 5.60907L18.1538 23L0.951906 40.3909C-0.317301 41.6741 -0.317301 43.7545 0.951906 45.0376C2.22111 46.3208 4.27889 46.3208 5.5481 45.0376L25.0481 25.3233Z" fill="#4B4B4B"/>
            </svg>
        </button>
    </div>
</template>