.select-img {
    margin: 40px auto 0 auto;
    max-width: 1045px;
    width: 100%;
    height: 275px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .swiper-slide {
        width: auto;
    }

    &__img {
        height: 275px;
        cursor: pointer;
    }

    &__prev, &__next {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}