<script setup lang="ts">
    import { ref } from 'vue'
    import { useUserDataStore } from '@/shared/stores/userDataStore'
    import './style.scss'

    const userDataStore = useUserDataStore()

    const inputRefs = ref([])

    function handleInput(e: Event, i: number) {
        const target = (<HTMLInputElement>e.target)
        const inputType = (e as InputEvent).inputType

        if (target.value === target.value.replace(/[0-9]/, '') && inputType !== 'deleteContentBackward') {
            target.value = ''
            return
        }

        if (inputType === 'deleteContentBackward' && inputRefs.value[i - 1]) {
            const input: HTMLInputElement = inputRefs.value[i - 1]
            input.focus()
        }

        if (inputType !== 'deleteContentBackward' && inputRefs.value[i + 1]) {
            const input: HTMLInputElement = inputRefs.value[i + 1]
            input.focus()
        }

        let code = ''

        inputRefs.value.forEach((input: HTMLInputElement) => {
            code += input.value
        })

        userDataStore.setCode(code)
    }
</script>

<template>
    <div class="enter-code" :class="{'enter-code_error': userDataStore.codeIsError}">
        <span class="enter-code__label">Введите код товара</span>

        <div class="enter-code__input-container">
            <div class="input-container__input-wrap">
                <input v-for="i in 4" ref="inputRefs" type="text" maxlength="1" placeholder="_" :key="i" @input="(e) => handleInput(e, i - 1)">
            </div>

            <div class="input-container__input-wrap">
                <input v-for="i in 4" ref="inputRefs" type="text" maxlength="1" placeholder="_" :key="i + 4" @input="(e) => handleInput(e, i + 4 - 1)">
            </div>
        </div>

        <span v-if="userDataStore.codeIsError" class="enter-code__error-text">
            {{ userDataStore.errorText }}
        </span>

        <div v-else class="enter-code__warning">
            <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_73_956)">
                <path d="M36.902 22.2333L20.4105 0.780384C20.2186 0.529943 19.9545 0.323886 19.6425 0.18116C19.3304 0.0384343 18.9804 -0.036377 18.6248 -0.036377C18.2691 -0.036377 17.9193 0.0384343 17.6072 0.18116C17.2952 0.323886 17.0309 0.529943 16.8391 0.780384L0.356223 22.2333C0.151123 22.5021 0.0360829 22.8121 0.0231901 23.1308C0.0102973 23.4495 0.100001 23.7652 0.282906 24.0451C0.465811 24.3249 0.735327 24.5585 1.06309 24.7215C1.39085 24.8845 1.76494 24.9709 2.14627 24.9716H35.1374C35.5177 24.9694 35.8902 24.8817 36.216 24.7177C36.5419 24.5537 36.809 24.3194 36.9894 24.0395C37.1698 23.7595 37.2568 23.4441 37.2414 23.1263C37.226 22.8086 37.1089 22.5001 36.902 22.2333ZM19.9355 8.80394L19.401 17.7994H17.9249L17.3991 8.80394H19.9355ZM19.9355 21.7083H17.3227V19.5162H19.944L19.9355 21.7083Z" fill="#FF5C5C"/>
                </g>
                <defs>
                <clipPath id="clip0_73_956">
                <rect width="37.2498" height="25" fill="white"/>
                </clipPath>
                </defs>
            </svg>

            <span class="warning__text">
                <span>Внимание!</span> Один и тот же код можно использовать не более трех раз
            </span>
        </div>
    </div>
</template>