.enter-code {
    margin: 0 auto;
    margin-top: 55px;
    max-width: 790px;
    width: 100%;

    &__label {
        font-family: "GTEestiProDisplay-Regular";
        font-size: 22px;
        line-height: 150%;
        color: #2E217E;
    }

    &__input-container {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .input-container__input-wrap {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__input-container input {
        outline: none;
        border: none;
        border-radius: 8px;
        width: 80px;
        height: 80px;
        font-size: 36px;
        color: #595CFF;
        text-align: center;
        background-color: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    }

    &__input-container input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #595CFF;
    }

    &__input-container input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #595CFF;
       opacity:  1;
    }

    &__input-container input::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #595CFF;
       opacity:  1;
    }

    &__input-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #595CFF;
    }

    &__input-container input::-ms-input-placeholder { /* Microsoft Edge */
       color: #595CFF;
    }
    
    &__input-container input::placeholder {
       color: #595CFF;
    }

    .input-container__line {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__warning {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .warning__text {
        font-family: "GTEestiProDisplay-Light";
        font-size: 20px;
        color: #333;
    }

    .warning__text span {
        color: #FF5C5C;
    }

    &__error-text {
        margin-top: 25px;
        font-family: "GTEestiProDisplay-Light";
        font-size: 20px;
        color: #F44;
        text-align: center;
        display: block;
    }

    &__error-text a {
        color: #F44;
    }
}

.enter-code_error {
    .enter-code__input-container input {
        background-color: #FFE9E9;
    }

    .input-container__line rect {
        fill: #4B4B4B;
    }

    .enter-code__input-container input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #4B4B4B;
    }

    .enter-code__input-container input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #4B4B4B;
       opacity:  1;
    }

    .enter-code__input-container input::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #4B4B4B;
       opacity:  1;
    }

    .enter-code__input-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #4B4B4B;
    }

    .enter-code__input-container input::-ms-input-placeholder { /* Microsoft Edge */
       color: #4B4B4B;
    }
    
    .enter-code__input-container input::placeholder {
       color: #4B4B4B;
    }
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
   
}

@media (max-width: 767.98px) {
    .enter-code {
        &__input-container {
            flex-direction: column;
        }
    }
}

@media (max-width: 575.98px) {
    .enter-code {
        &__input-container input {
            width: 50px;
            height: 50px;
            font-size: 20px;
        }

        .input-container__line {
            width: 50px;
            height: 50px;
        }
    }
}