<script setup lang="ts">
    import Container from '@/shared/ui/Container/Container.vue'
    import './style.scss'
</script>

<template>
    <header class="header">
        <Container class="header__container">

            <a href="https://zufapixel.ru" class="header__logo">
                <img src="/assets/imgs/logo.svg">
            </a>

            <div class="header__right-side">
                <div class="right-side__link">
                    <a href="https://zufapixel.ru" class="link__item" target="_blank">
                        Купить набор
                    </a>
                    <a href="https://zufapixel.ru/faq" class="link__item" target="_blank">
                        Частые вопросы
                    </a>
                </div>

                <div class="right-side__society">
                    <a href="https://t.me/zufa_ask" class="society__item" target="_blank">
                        <img src="/assets/imgs/tg.svg">
                    </a>
                    <a href="mailto:pixel@zufa.ru" class="society__item" target="_blank">
                        <img src="/assets/imgs/email.svg">
                    </a>
                </div>
            </div>

        </Container>
    </header>
</template>