.header {
    display: flex;
    align-items: center;
    height: 85px;
    background: #FFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.03);

    &__logo {
        height: 26px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right-side__link {
        margin-right: 90px;
    }

    .link__item:nth-of-type(1) {
        margin-right: 20px;
        color: #843896;
    }

    .link__item {
        font-family: "GTEestiProDisplay-Light";
        font-size: 22px;
        color: #333333;
        text-decoration: none;
        display: inline-block;
    }

    .society__item {
        display: inline-block;
    }

    .society__item:nth-of-type(1) {
        margin-right: 15px;
    }
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .header {
        height: auto;

        &__container {
            padding: 20px;
            flex-direction: column;
            gap: 20px;
        }

        &__right-side {
            width: 100%;
            gap: 20px;
        }

        .right-side__link {
            margin-right: 0;
        }

        .right-side__society {
            display: flex;
        }
    }
}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    .header {
        &__logo img {
            max-width: 100%;
        }

        &__right-side {
            flex-direction: column;
        }

        .right-side__link {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .link__item:nth-of-type(1) {
            margin-right: 0;
        }

        .link__item {
            text-align: center;
        }
    }
}