<script setup lang="ts">
    import Header from '@/widgets/Header/Header.vue'
    import StepUpload from '@/widgets/StepUpload/StepUpload.vue'
    import StepTransform from '@/widgets/StepTransform/StepTransform.vue'
    import StepSelecting from '@/widgets/StepSelecting/StepSelecting.vue'
    import StepFile from '@/widgets/StepFile/StepFile.vue'
    import { useImgStore } from '@/shared/stores/imgStore.ts'
    import './style.scss'

    const imgStore = useImgStore()
</script>

<template>
    <Header />
    <StepUpload v-if="imgStore.step === 1" />
    <StepTransform v-if="imgStore.step === 2" />
    <StepSelecting v-if="imgStore.step === 3" />
    <StepFile v-if="imgStore.step === 4" />
</template>