@font-face {
    font-family: 'GTEestiProDisplay-Regular';
    src: url("GTEestiProDisplay-Regular.ttf");
}
@font-face {
    font-family: 'GTEestiProDisplay-Bold';
    src: url("GTEestiProDisplay-Bold.ttf");
}
@font-face {
    font-family: 'GTEestiProDisplay-Light';
    src: url("GTEestiProDisplay-Light.ttf");
}
@font-face {
    font-family: 'Inter-Regular';
    src: url("Inter-Regular.ttf");
}