<script setup lang="ts">
    import { ref, onMounted, nextTick } from 'vue'
    import Cropper from 'cropperjs'
    import 'cropperjs/dist/cropper.css'
    import Container from '@/shared/ui/Container/Container.vue'
    import Overlay from '@/shared/ui/Overlay/Overlay.vue'
    import { useImgStore } from '@/shared/stores/imgStore.ts'
    import { uploadImg } from '@/shared/lib/uploadImg'
    import { cutOutImage, setImage } from '@/shared/api/image'
    import { useUserDataStore } from "@/shared/stores/userDataStore.ts";
    import './style.scss'

    const imgStore = useImgStore()
    const userDataStore = useUserDataStore()

    const imgRef = ref()
    const cropper = ref()
    const pendingRequest = ref(false)

    const width = 900
    const height = 1200

    onMounted(() => initCropper())

    function initCropper() {
        cropper.value = new Cropper(imgRef.value, {
            aspectRatio: width / height
        })
    }

    function zoomIn() {
        cropper.value.zoom(0.1)
    }

    function zoomOut() {
        cropper.value.zoom(-0.1)
    }

    function rotateLeft() {
        cropper.value.rotate(-45)
    }

    function rotateRight() {
        cropper.value.rotate(45)
    }

    function handleChange(e: Event) {
        // remove errors if there were any
        userDataStore.setCodeIsError(false, "");

        const target = (<HTMLInputElement>e.target)

        if (!target.files) return

        uploadImg(target.files[0], loadImg)
    }

    function loadImg(img: HTMLImageElement) {
        imgStore.setImg(img)
        // on new upload - treat call as not cleared
        imgStore.setCutOutBg(false)

        cropper.value.destroy()
        nextTick(() => initCropper())
    }

    async function cutOut() {
        // prevent abuse
        if (imgStore.cutOutBg === '1') {
            return
        }
        // remove errors if there were any
        userDataStore.setCodeIsError(false, "");

        const canvasData = cropper.value.originalUrl

        const data = new FormData()
        data.append('pic', canvasData)

        pendingRequest.value = true

        try {
            const response = await cutOutImage(data)

            if (response.data.success) {
                let img2 = document.createElement('img');
                img2.src = `data:image/png;base64,${response.data.result}`;
                loadImg(img2)
                imgStore.setCutOutBg(true);
            } else {
                userDataStore.setCodeIsError(
                    true,
                    response.data.result
                )
            }
        } catch (err: any) {
            if (err.response?.data.result) {
                userDataStore.setCodeIsError(
                    true,
                    err.response.data.result
                )
            }
            // alert('Произошла ошибка! Попробуйте позже')
        } finally {
            pendingRequest.value = false
        }
    }

    async function nextStep() {

        userDataStore.setCodeIsError(false, "");

        const data = new FormData()
        let pic;
        // if cutOut was used, we keep transparent color and send it as png
        if (imgStore.cutOutBg === '1') {
            const croppedCanvas = cropper.value.getCroppedCanvas({
                width: width,
                height: height
            })
            pic = croppedCanvas.toDataURL('image/png')
        } else {
            // if not cutOut - use white bg and send it as jpeg
            const croppedCanvas = cropper.value.getCroppedCanvas({
                fillColor: '#fff',
                width: width,
                height: height
            })
            pic = croppedCanvas.toDataURL('image/jpeg')
        }

        data.append('pic', pic)
        data.append('grid_size', imgStore.gridSize)
        data.append('cutOutBg', imgStore.cutOutBg)

        pendingRequest.value = true

        //console.log(data)
        try {
            const response = await setImage(data)

            console.log(response)

            imgStore.setImages(response.data)
            imgStore.setSelectingImg(response.data[0])
            imgStore.nextStep()
        }
        catch (err) {
            console.log(err)
            // alert('Произошла ошибка! Попробуйте позже')
        }
        finally {
            pendingRequest.value = false
        }
    }
</script>

<template>
    <div class="step-transform">
        <Container class="step-transform__container">
            <div class="step-transform__img">
                <img ref="imgRef" :src="imgStore.img?.src">
            </div>

            <div class="step-transform__warning">
                <div class="wrapper">
                    <img src="/assets/imgs/warning.svg" alt="">
                    <span class="text">Максимально приблизьте лица и избегайте однотонного фона</span>
                </div>
            </div>

            <div class="step-transform__warning" @click="cutOut">
                <div class="wrapper cutout">
                    <span class="text">Удалить фон</span>
                </div>
            </div>
            <span v-if="userDataStore.codeIsError" class="enter-code__error-text">
                 {{ userDataStore.errorText }}
            </span>

            <div class="step-transform__actions">
                <label for="upload-img" class="actions__btn actions__load">
                    <input id="upload-img" type="file" @change="handleChange">
                </label>
                <div class="actions__btn actions__zoom-in" @click="zoomIn"></div>
                <div class="actions__btn actions__zoom-out" @click="zoomOut"></div>
                <div class="actions__btn actions__rotate-left" @click="rotateLeft"></div>
                <div class="actions__btn actions__rotate-right" @click="rotateRight"></div>
            </div>

            <button class="step-transform__next-step" @click="nextStep">Далее</button>
        </Container>

        <Overlay v-if="pendingRequest" />
    </div>
</template>