.step-transform {
    margin-top: 95px;

    &__img {
        margin: 0 auto;
        max-width: 605px;
        max-height: 605px;
        background-color: #ccc;
        overflow: hidden;
        display: flex;
        align-items: center;
        aspect-ratio: 1 / 1;
    }

    &__img img {
        max-width: 100%;
        display: block;
    }

    &__actions {
        margin-top: 36px;
        margin-bottom: 42px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 22px;
    }

    &__warning{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        font-family: GTEestiProDisplay-Regular;

        .wrapper {
            display: flex;
            align-items: center;
            background: #595CFF;
            border-radius: 81px;
            padding: 7px;
            width: 100%;
            max-width: 602px;

            &.cutout {
                cursor: pointer;
                text-align: center;
                width: auto;
                transition: all 0.3s ease;
                border: 3px solid #595cff;
                padding: 34px 4px;
                width: 100%;
                max-width: 320px;
                justify-content: center;

                .text {
                    margin: 0 18px;
                }

                &:hover {
                    background: white;

                    .text {
                        color: #595cff;
                    }
                }
            }
        }

        span.text {
            display: block;
            font-size: 24px;
            color: #fff;
            margin-left: 36px;
            width: 100%;
            max-width: 380px;
        }

    }

    .actions__btn {
        width: 105px;
        height: 105px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(89, 92, 255, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all .3s ease;
    }

    .actions__load {
        background-image: url("/assets/imgs/c1.svg");
    }

    .actions__load input {
        display: none;
    }

    .actions__load:hover {
        background-image: url("/assets/imgs/c1-hover.svg");
    }

    .actions__zoom-in {
        background-image: url("/assets/imgs/c2.svg");
    }

    .actions__zoom-in:hover {
        background-image: url("/assets/imgs/c2-hover.svg");
    }

    .actions__zoom-out {
        background-image: url("/assets/imgs/c3.svg");
    }

    .actions__zoom-out:hover {
        background-image: url("/assets/imgs/c3-hover.svg");
    }

    .actions__rotate-left {
        background-image: url("/assets/imgs/c4.svg");
    }

    .actions__rotate-left:hover {
        background-image: url("/assets/imgs/c4-hover.svg");
    }

    .actions__rotate-right {
        background-image: url("/assets/imgs/c5.svg");
    }

    .actions__rotate-right:hover {
        background-image: url("/assets/imgs/c5-hover.svg");
    }

    .actions__resize {
        background-image: url("/assets/imgs/c6.svg");
    }

    .actions__resize:hover{
        background-image: url("/assets/imgs/c6-hover.svg");
    }

    .actions__crop{
        background-image: url("/assets/imgs/c7.svg");
    }

    .actions__crop:hover{
        background-image: url("/assets/imgs/c7-hover.svg");
    }

    &__next-step {
        margin: 50px auto 50px auto;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.00);
        padding: 29px 55px;
        max-width: 320px;
        width: 100%;
        font-family: "GTEestiProDisplay-Regular";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        color: #FEFEFE;
        border: 3px solid #595cff;
        text-align: center;
        background: #595CFF;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease;

            &:hover {
                background: white;
                color: #595cff;
            }
    }

}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    .step-transform {
        .actions__btn {
            width: 70px;
            height: 70px;
        }
    }
}