<script setup lang="ts">
    import Container from '@/shared/ui/Container/Container.vue'
    import { useUserDataStore } from '@/shared/stores/userDataStore'
    import './style.scss'

    const userDataStore = useUserDataStore()
</script>

<template>
    <div class="step-file">
        <Container>
            <div class="step-file__block step-file__text">
                Схема для раскрашивания отправлена на вашу почту: {{ userDataStore.email }}
            </div>
            <div class="step-file__block step-file__hint">
                Также вы можете
                <a :href="userDataStore.file" target="_blank" class="step-file__download-hint">скачать</a>
                файл ниже и приступить к раскрашиванию.
            </div>

            <div class="step-file__block step-file__download-box">
                <div class="step-file__download-sizer">
                    <div class="step-file__download-border">
                        <div class="step-file__download_center">
                            <div class="step-file__download-file-name">
                                <span>zufapixel-manual.pdf</span>
                            </div>
                            <a :href="userDataStore.file" target="_blank"  class="step-file__download-file">
                                <span>Скачать</span>
                                <svg width="46" height="51" viewBox="0 0 46 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M35.0293 29.8531L24.8071 40.0531C23.809 41.049 22.191 41.049 21.1929 40.0531L10.9707 29.8531C9.97272 28.8573 9.97272 27.2427 10.9707 26.2469C11.9687 25.251 13.5868 25.251 14.5848 26.2469L20.4444 32.0938V2.55C20.4444 1.14167 21.5886 0 23 0C24.4114 0 25.5556 1.14167 25.5556 2.55V32.0938L31.4152 26.2469C32.4132 25.251 34.0313 25.251 35.0293 26.2469C36.0273 27.2427 36.0273 28.8573 35.0293 29.8531Z" fill="white"/>
                                    <path d="M26.6141 41.8562L28.9504 39.525H46V43.35C46 47.575 42.5675 51 38.3333 51H7.66667C3.43248 51 0 47.575 0 43.35V39.525H17.0496L19.3859 41.8562C21.3819 43.8479 24.6181 43.8479 26.6141 41.8562Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="step-file__code">
                        Ваш код <span>{{ userDataStore.code.slice(0, 4) }}-{{ userDataStore.code.slice(4, 8) }}</span> можно использовать {{ userDataStore.numberCodeRepeat }} раз
                    </div>
                </div>
            </div>

            <div class="step-file__block step-file__lucky-text">
                Желаем приятно провести время. Выкладывайте и отмечайте в социальных сетях
                <span>#zufapixel</span>&nbsp;<a href="#">@zufapixel</a><br/>
                тогда мы выложим ваш шедевр на своей странице
            </div>
        </Container>
    </div>
</template>