.step-file {
    margin-top: 80px;

    &__block {
        margin: 0 auto;
        max-width: 1060px;
    }

    &__text {
        font-family: "GTEestiProDisplay-Regular";
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        background: linear-gradient(180deg, #7889FF 0%, #656DFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 8px;
    }

    &__hint {
        font-family: "GTEestiProDisplay-Light";
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 95%;
        color: #404890;

        a {
            color: #404890;
            text-decoration: underline;
        }

        a:visited, a:hover {
            color: #404890;
            text-decoration: underline;
        }
    }

    &__download-box {
        margin: 25px auto;
        max-width: 1050px;
    }

    &__download-sizer {
        margin: 0 auto;
        width: 985px;
    }

    &__download-border {
        height: 400px;
        background: #F9F9F9;
        border: 1.5px dashed #D0D5DD;
        border-radius: 16px;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    &__download-center {
        display: flex;
    }

    &__download-file {
        box-sizing: border-box;

        width: 363px;
        height: 87px;

        background: linear-gradient(180deg, #798AFF 0%, #6871FF 100%);
        border-radius: 12px;

        font-family: 'GTEestiProDisplay-Light';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        color: #FEFEFE;
        margin-top: 33px;
        margin-bottom: 33px;
        text-decoration: none;
        transition: all 0.3s ease;

        display: inline-block;
        padding-top: 13px;

        span {
            padding-right: 20px;
        }

        &:visited,
        &:hover {
            color: #FEFEFE;
            text-decoration: none;
        }

        &:hover {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 366px;
            height: 93px;
            padding-top: 16px;
        }
    }

    &__download-file-name {
        font-family: "GTEestiProDisplay-Light";
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        color: #333;
        text-align: center;
    }

    &__lucky-text {
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: "GTEestiProDisplay-Light";
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        color: #404890;

        span {
            font-family: "GTEestiProDisplay-Regular";
            font-weight: 700;
            color: #404890;
        }

        a {
            font-family: "GTEestiProDisplay-Regular";
            font-weight: 700;
            color: #404890;
            text-decoration: none;
        }
    }

    &__code {
        margin-top: 45px;
        font-family: "GTEestiProDisplay-Light";
        font-size: 40px;
        line-height: 105%;
        background: linear-gradient(180deg, #7889FF 0%, #656DFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
            font-family: "GTEestiProDisplay-Regular";
            font-weight: 700;
            background: linear-gradient(180deg, #7889FF 0%, #656DFF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    .step-file {
        margin-top: 0;

        &__block {
            margin: 0;
            width: 100%;
        }

        &__code {
            font-size: 24px;
            line-height: 90%;
            margin-top: 5px;
        }

        &__lucky-text {
            font-size: 20px;
            line-height: 105%;
            margin-bottom: 25px;
        }

        &__text {
            font-size: 33px;
            line-height: 90%;
            margin-top: 21px;
            margin-bottom: 12px;
        }

        &__download-box {
             margin: 12px auto;
         }

        &__download-sizer {
            margin: 0 auto;
            width: 100%;
        }

        &__download-border {
            height: 227px;
        }

        &__hint {
            font-size: 20px;
            line-height: 19px;
        }

        &__download-file-name {
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
        }

        &__download-file {
            transform: scale(66%);
            margin-top: 0;
            margin-bottom: 0;

            &:hover {
                margin-top: 0;
                margin-bottom: 0;
                width: 363px;
                height: 87px;
                padding-top: 13px;
            }
        }
    }
}