<script setup lang="ts">
    import { onMounted, onUnmounted } from 'vue'
    import './style.scss'

    onMounted(() => document.body.style.overflow = 'hidden')
    onUnmounted(() => document.body.style.overflow = 'auto')
</script>

<template>
    <div class="overlay">
        <figure>
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
        </figure>
    </div>
</template>