.upload-img {
    margin: 40px auto 70px;
    padding: 0 20px;
    border-radius: 16px;
    border: 1px dashed #D0D5DD;
    max-width: 675px;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
        margin-top: 16px;
        font-family: 'GTEestiProDisplay-Regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        color: #404890;
        text-align: center;
    }

    &__text span {
        font-weight: 500;
    }

    &__desc {
        font-family: 'Inter-Regular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        color: #98A2B3;
        text-align: center;
    }

    &__line {
        margin: 20px 0;
        width: 100%;
        font-family: 'Inter-Regular';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 145%;
        color: #98A2B3;
        text-align: center;
        position: relative;
    }

    &__line::before {
        top: 9px;
        right: calc(50% + 18px);
        left: 0;
        content: '';
        height: 1px;
        background-color: #F0F2F5;
        position: absolute;
    }

    &__line::after {
        top: 9px;
        left: calc(50% + 18px);
        right: 0;
        content: '';
        height: 1px;
        background-color: #F0F2F5;
        position: absolute;
    }

    &__upload {
        border-radius: 6px;
        padding: 20px 36px;
        font-family: Inter-Regular;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        background-color: #595CFF;
        display: flex;
        text-align: center;
        cursor: pointer;
    }

    &__upload input {
        display: none;
    }

    &__precent {
        font-family: 'Inter-Regular';
        font-size: 16px;
        font-weight: bold;
        color: #98A2B3;
    }

    &__line-container {
        margin-top: 10px;
        border-radius: 13px;
        max-width: 315px;
        width: 100%;
        height: 6px;
        background-color: #fff2ed;
        overflow: hidden;
    }

    .line-container__line {
        border-radius: 13px;
        width: 100%;
        height: 100%;
        background-color: #595CFF;
        transform-origin: 0 0;
        transition: transform 0.3s;
    }

    &__upload-text {
        margin-top: 15px;
        font-family: 'GTEestiProDisplay-Regular';
        font-size: 20px;
        color: #505050;
        text-align: center;
    }

    &__file-name {
        margin-top: 5px;
        width: 100%;
        font-family: 'Inter-Regular';
        font-size: 12px;
        color: #98A2B3;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__try-again {
        margin-top: 25px;
        border: none;
        font-family: 'Inter-Regular';
        font-size: 14px;
        color: #F56630;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}

.upload-img_success {
    border-color: #5FC381;

    .upload-img__text span {
        color: #1D2739;
    }

    .upload-img__desc {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

.upload-img_error {
    border-color: #E26E6A;

    .upload-img__text span {
        color: #1D2739;
    }
}

.upload-img_disable {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}