<script setup lang="ts">
    import { ref } from 'vue'
    import { useImgStore } from '@/shared/stores/imgStore'
    import { uploadImg } from '@/shared/lib/uploadImg'
    import './style.scss'

    const props = defineProps({
        active: Boolean
    })

    const imgIsLoading = ref<boolean>(false)
    const imgName = ref<string>('')
    const success = ref<boolean>(false)
    const process = ref<boolean>(false)
    const precent = ref<number>(0)

    const imgStore = useImgStore()

    function successUpload(img: HTMLImageElement) {
        imgIsLoading.value = true
        success.value = true

        imgStore.setImg(img)

        setTimeout(() => {
            imgStore.nextStep()
        }, 1000)
    }

    function errorUpload() {
        imgIsLoading.value = true
        success.value = false
        process.value = false
    }

    function tryAgain() {
        imgIsLoading.value = false
        success.value = false
    }

    function startLoading(file: File) {
        imgName.value = file.name
        process.value = true

        setTimeout(() => {
            precent.value = 65
        }, 500)

        setTimeout(() => {
            uploadImg(
                file,
                successUpload,
                errorUpload
            )
        }, 1500)
    }

    function handleChange(e: Event) {
        const target = (<HTMLInputElement>e.target)

        if (!target.files) return

        startLoading(target.files[0])
    }

    function handleDrop(e: DragEvent) {
        const file = e.dataTransfer?.files[0]

        if (!file || !file.type.startsWith('image/')) return

        startLoading(file)
    }
</script>

<template>
    <div
        class="upload-img"
        :class="{
            'upload-img_success': success,
            'upload-img_error': !success && imgIsLoading,
            'upload-img_disable': !props.active
        }"
        @drop.prevent="handleDrop"
        @dragover.prevent
    >
        <template v-if="!imgIsLoading && !process">
            <div class="upload-img__icon">
                <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="28.5" cy="28.5" r="28" fill="#F0F2F5"/>
                    <path d="M21.4999 25.5833C21.4999 22.0394 24.3728 19.1666 27.9166 19.1666C31.0558 19.1666 33.6706 21.422 34.2248 24.401C34.3025 24.8188 34.6012 25.1613 35.0045 25.295C37.3271 26.0653 38.9999 28.2554 38.9999 30.8333C38.9999 34.0549 36.3883 36.6666 33.1666 36.6666C32.5223 36.6666 31.9999 37.1889 31.9999 37.8333C31.9999 38.4776 32.5223 38.9999 33.1666 38.9999C37.6769 38.9999 41.3333 35.3436 41.3333 30.8333C41.3333 27.4587 39.2872 24.5647 36.3706 23.3194C35.3726 19.5843 31.967 16.8333 27.9166 16.8333C23.0841 16.8333 19.1666 20.7508 19.1666 25.5833C19.1666 25.7002 19.1689 25.8168 19.1735 25.9327C17.0788 27.1412 15.6666 29.4046 15.6666 31.9999C15.6666 35.8659 18.8006 38.9999 22.6666 38.9999C23.3109 38.9999 23.8333 38.4776 23.8333 37.8333C23.8333 37.1889 23.3109 36.6666 22.6666 36.6666C20.0893 36.6666 17.9999 34.5772 17.9999 31.9999C17.9999 30.0664 19.1761 28.4048 20.8567 27.6969C21.343 27.492 21.6313 26.9862 21.5597 26.4634C21.5203 26.1762 21.4999 25.8824 21.4999 25.5833Z" fill="#475367"/>
                    <path d="M27.7248 31.1279C28.1669 30.735 28.833 30.735 29.275 31.1279L31.025 32.6835C31.5066 33.1116 31.55 33.849 31.1219 34.3306C30.7474 34.7519 30.1362 34.8378 29.6666 34.5661V40.1666C29.6666 40.8109 29.1443 41.3333 28.4999 41.3333C27.8556 41.3333 27.3333 40.8109 27.3333 40.1666V34.5661C26.8637 34.8378 26.2524 34.7519 25.878 34.3306C25.4499 33.849 25.4933 33.1116 25.9748 32.6835L27.7248 31.1279Z" fill="#475367"/>
                </svg>
            </div>

            <p class="upload-img__text">
                <span>Выберите изображение</span> или перетащите его сюда
            </p>

            <p class="upload-img__desc">PNG или JPG  (max. 20 Mb)</p>

            <div class="upload-img__line">
                или
            </div>

            <label for="upload-img" class="upload-img__upload">
                <input id="upload-img" type="file" name="img" accept=".jpg,.jpeg,.png" @change="handleChange">
                Загрузить фото
            </label>
        </template>

        <template v-else-if="!imgIsLoading && process">
            <span class="upload-img__precent">{{ precent }} %</span>

            <div class="upload-img__line-container">
                <div class="line-container__line" :style="{
                    'transform': `scaleX(${precent / 100})`
                }"></div>
            </div>

            <span class="upload-img__upload-text">Загрузка фото</span>
            <span class="upload-img__file-name">{{ imgName }}</span>
        </template>

        <template v-else-if="success">
            <div class="upload-img__icon">
                <svg width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="28" cy="28.5" r="28" fill="#E7F6EC"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28 41.625C35.2487 41.625 41.125 35.7487 41.125 28.5C41.125 21.2513 35.2487 15.375 28 15.375C20.7513 15.375 14.875 21.2513 14.875 28.5C14.875 35.7487 20.7513 41.625 28 41.625ZM33.36 26.6588C33.9539 26.1148 33.9944 25.1923 33.4505 24.5984C32.9065 24.0044 31.984 23.9639 31.39 24.5079L26.0058 29.4391L24.61 28.1608C24.016 27.6168 23.0935 27.6573 22.5496 28.2513C22.0056 28.8452 22.0461 29.7677 22.64 30.3117L25.0208 32.4921C25.5782 33.0026 26.4333 33.0026 26.9907 32.4921L33.36 26.6588Z" fill="#0F973D"/>
                </svg>
            </div>

            <p class="upload-img__text">
                <span>Успешно</span>
            </p>

            <p class="upload-img__desc">
                {{ imgName }}
            </p>
        </template>

        <template v-else>
            <div class="upload-img__icon">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="28" cy="28" r="28" fill="#FBEAE9"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8595 32.8739L25.2226 19.1387C26.3938 16.9538 29.6062 16.9538 30.7774 19.1386L38.1405 32.8739C39.2286 34.9039 37.7155 37.3333 35.363 37.3333H20.637C18.2845 37.3333 16.7714 34.9039 17.8595 32.8739ZM28 21C28.6443 21 29.1667 21.5223 29.1667 22.1667V30.3333C29.1667 30.9777 28.6443 31.5 28 31.5C27.3557 31.5 26.8333 30.9777 26.8333 30.3333V22.1667C26.8333 21.5223 27.3557 21 28 21ZM26.5417 33.5417C26.5417 34.3471 27.1946 35 28 35C28.8054 35 29.4583 34.3471 29.4583 33.5417C29.4583 32.7363 28.8054 32.0833 28 32.0833C27.1946 32.0833 26.5417 32.7363 26.5417 33.5417Z" fill="#D42620"/>
                </svg>
            </div>

            <p class="upload-img__text">
                <span>Ошибка загрузки</span>
            </p>

            <button class="upload-img__try-again" @click="tryAgain">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1667 3.33333C14.1667 2.8731 14.5398 2.5 15 2.5C15.4602 2.5 15.8333 2.8731 15.8333 3.33333V6C15.8333 6.46024 15.4602 6.83333 15 6.83333H12.407C11.9468 6.83333 11.5737 6.46024 11.5737 6C11.5737 5.53976 11.9468 5.16667 12.407 5.16667H12.9779C12.0734 4.53389 10.9841 4.16667 9.81455 4.16667C6.71732 4.16667 4.16667 6.75602 4.16667 10C4.16667 10.4602 3.79357 10.8333 3.33333 10.8333C2.8731 10.8333 2.5 10.4602 2.5 10C2.5 5.88018 5.75283 2.5 9.81455 2.5C11.4477 2.5 12.9527 3.04877 14.1667 3.97156V3.33333Z" fill="#F56630"/>
                    <path d="M5.83333 16.6667C5.83333 17.1269 5.46024 17.5 5 17.5C4.53976 17.5 4.16667 17.1269 4.16667 16.6667V14C4.16667 13.5398 4.53976 13.1667 5 13.1667H7.59296C8.0532 13.1667 8.42629 13.5398 8.42629 14C8.42629 14.4602 8.0532 14.8333 7.59296 14.8333H7.02212C7.92658 15.4661 9.01586 15.8333 10.1854 15.8333C13.2827 15.8333 15.8333 13.244 15.8333 10C15.8333 9.53976 16.2064 9.16667 16.6667 9.16667C17.1269 9.16667 17.5 9.53976 17.5 10C17.5 14.1198 14.2472 17.5 10.1854 17.5C8.55231 17.5 7.04728 16.9512 5.83333 16.0284V16.6667Z" fill="#F56630"/>
                </svg>

                <span>Попробовать ещё раз</span>
            </button>
        </template>
    </div>
</template>